  <style>
    .resaltar{
        color:brown;
                font-weight: bold;

    }
  </style> 
   <section id="section1" class="section">
 <div class="container-fluid py-5">
        <br class="container">
            <br></br>
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">¿Quienes Somos?</h4>
                <h1 class="display-4">GAMEPLUS.PE</h1>

            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Nuestra historia</h1>
                    <p>Somos un pequeño emprendimiento que comenzo con sus operaciones en 2021 ,pasamos por desafios durante la pandemia y en lugar de detenernos decidimos transformar nuestro negocio a lo digital. </p>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/images/games.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Nuestra Vision</h1>
                    <p>Tenemos como vision,llegar a mas usuarios brindandole una buena experiencia en nuestro sitio web esperando que encuentre el producto de su elección.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="section2" class="section">
<div class="container-fluid pt-5">
        <div class="container">
            <br></br>
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h4>
                <h1 class="display-4">Ofrecemos lo siguiente</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon"></i>Delivery</h4>
                            <p class="m-0">Ofecemos servicio de delivery,El servicio sale gratis a partir de mas de S/400.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon"></i>Politica de devolucion</h4>
                            <p class="m-0">Si surge algun inconveniente con su producto,puede cambiarlo por otro o caso contrario se le devolvera el monto de su compra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon"></i>Soporte Técnico 24/7</h4>
                            <p class="m-0">Ofrecemos soporte técnico las 24 horas del día, los 7 días de la semana. 
                                Nuestro equipo de expertos está disponible para ayudarte con cualquier problema o pregunta que puedas tener en cualquier momento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-4.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon"></i>Descuentos Especiales para Clientes Frecuentes</h4>
                            <p class="m-0">Valoramos a nuestros clientes y queremos recompensar su lealtad. Ofrecemos descuentos especiales y promociones exclusivas para nuestros clientes frecuentes. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </section>

    <section id="section4" class="section">
    </section>

    <script src="scripts.js"></script> <!-- Incluye tu archivo JavaScript aquí -->

