   <section id="section1" class="section">
 <div class="container-fluid py-5">
        <br class="container">
            <br></br>
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">¿Quienes Somos?</h4>
                <h1 class="display-4">GAMEPLUS.PE</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Nuestra historia</h1>
                    <p>Somos un pequeño emprendimiento que comenzo con sus operaciones en 2021 ,pasamos por desafios durante la pandemia y en lugar de detenernos decidimos transformar nuestro negocio a lo digital. </p>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/images/games.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Nuestra Vision</h1>
                    <p>Tenemos como vision,llegar a mas usuarios brindandole una buena experiencia en nuestro sitio web esperando que encuentre el producto de su elección.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="section2" class="section">
<div class="container-fluid pt-5">
        <div class="container">
            <br></br>
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h4>
                <h1 class="display-4">Ofrecemos lo siguiente</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon"></i>Delivery</h4>
                            <p class="m-0">Ofecemos servicio de delivery,El servicio sale gratis a partir de mas de S/400.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon"></i>Politica de devolucion</h4>
                            <p class="m-0">Si surge algun inconveniente con su producto,puede cambiarlo por otro o caso contrario se le devolvera el monto de su compra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon"></i>Soporte Técnico 24/7</h4>
                            <p class="m-0">Ofrecemos soporte técnico las 24 horas del día, los 7 días de la semana. 
                                Nuestro equipo de expertos está disponible para ayudarte con cualquier problema o pregunta que puedas tener en cualquier momento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/service-4.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon"></i>Descuentos Especiales para Clientes Frecuentes</h4>
                            <p class="m-0">Valoramos a nuestros clientes y queremos recompensar su lealtad. Ofrecemos descuentos especiales y promociones exclusivas para nuestros clientes frecuentes. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </section>

        {{>control}}       

    <section id="section4" class="section">
    </section>
<div class="container-fluid pt-5">
        <div class="container">
        <br></br>
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contactanos</h4>
            </div>
            <div class="row">
                <div class="col-md-6 pb-5">
                    <iframe style="width: 100%; height: 443px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6 pb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control bg-transparent p-4" id="nombre" placeholder="Nombre"
                                    required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control bg-transparent p-4" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control bg-transparent p-4" id="Asunto" placeholder="Asunto"
                                    required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control bg-transparent py-3 px-4" rows="5" id="mensaje" placeholder="Mensaje"
                                    required="required"
                                    data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit" id="sendMessageButton">Enviar Mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script> <!-- Incluye tu archivo JavaScript aquí -->

